<!-- Header -->
<header id="header">
  <!-- <h1><a href="/">Vindicatum</a></h1> -->
  <!-- <nav class="links">
    <ul>
      <li><a href="https://www.warcraftlogs.com/guilds/395">Logs</a></li>
      <li><a href="http://forums.vindicatum.com/index.php">Forums</a></li>
      <li><a href="/about">About and Apply</a></li>
    </ul>
  </nav> -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <a class="navbar-brand" href="/">Vindicatum</a>
      <button id="navButton" class="navbar-toggle glyphicon glyphicon-menu-hamburger" data-toggle="collapse" data-target=".navHeaderCollapse">
      </button>
      <div class="collapse navbar-collapse navHeaderCollapse">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="https://www.warcraftlogs.com/guilds/395">Logs</a></li>
          <li><a href="http://forums.vindicatum.com/index.php">Forums</a></li>
          <li><a href="/about">About and Apply</a></li>
        </ul>
      </div>

    </div>
  </nav>
</header>
