<!-- Header -->
      <header id="header">
        <h1><a href="/homepage">Vindicatum</a></h1>

        <nav class="links">
          <ul>
            <li><a href="https://www.warcraftlogs.com/guilds/395">Logs</a></li>
            <li><a href="http://forums.vindicatum.com/index.php">Forums</a></li>
            <li><a href="/about">About and Apply</a></li>
            <li class="streaming">
              <h1>Currently Streaming:</h1>
              {{#each activeStreams as |stream|}}
               <a href="{{stream.stream.channel.url}}">
                <img src="class-icons/{{stream.class}}.png" alt="">
              </a>
              {{/each}}
            </li>
          </ul>
        </nav>
        <nav class="main">
          <ul>
            <li class="search">
              <a class="fa-search" href="#search">Search</a>
              <form id="search" method="get" action="#">
                <input type="text" name="query" placeholder="Search" />
              </form>
            </li>
            <li class="menu">
              <a class="fa-bars" href="#menu">Menu</a>
            </li>
          </ul>
        </nav>
      </header>
