<!-- Header -->
      <header id="header">
        <h1><a href="#">Vindicatum</a></h1>
        
        <nav class="links">
          <ul>
            <li><a href="#">Logs</a></li>
            <li><a href="#">Forums</a></li>
            <li><a href="#">Apply</a></li>
            <li class="recruiting">
              <a href="#" class="author class" >Currently Streaming:
              
              {{#each activeStreams as |stream|}}
                {{log stream.stream}}
               <a href="{{stream.stream.channel.url}}">
                <img src="class-icons/{{stream.class}}.png" alt="">
              </a>
              {{/each}}
              </a>
            </li>
          </ul>
        </nav>
        <nav class="main">
          <ul>
            <li class="search">
              <a class="fa-search" href="#search">Search</a>
              <form id="search" method="get" action="#">
                <input type="text" name="query" placeholder="Search" />
              </form>
            </li>
            <li class="menu">
              <a class="fa-bars" href="#menu">Menu</a>
            </li>
          </ul>
        </nav>
      </header>