<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
			{{nav-bar}}

		<!-- Menu -->
			<section id="menu">

				<!-- Search -->
					<section>
						<form class="search" method="get" action="#">
							<input type="text" name="query" placeholder="Search" />
						</form>
					</section>

				<!-- Links -->
					<section>
						<ul class="links">
							<li>
								<a href="#">
									<h3>Lorem ipsum</h3>
									<p>Feugiat tempus veroeros dolor</p>
								</a>
							</li>
							<li>
								<a href="#">
									<h3>Dolor sit amet</h3>
									<p>Sed vitae justo condimentum</p>
								</a>
							</li>
							<li>
								<a href="#">
									<h3>Feugiat veroeros</h3>
									<p>Phasellus sed ultricies mi congue</p>
								</a>
							</li>
							<li>
								<a href="#">
									<h3>Etiam sed consequat</h3>
									<p>Porta lectus amet ultricies</p>
								</a>
							</li>
						</ul>
					</section>

				<!-- Actions -->
					<section>
						<ul class="actions vertical">
							<li><a href="#" class="button big fit">Log In</a></li>
						</ul>
					</section>

			</section>

		<!-- Main -->
		<div id="main">

      <!-- Post -->
  		<article class="post">
  		    <header>
  				      <div class="title">
  							         <h2><a href="#">Hi! We're Vindicatum.</a></h2>
  										   <p>We aim to be the top sub 12 hour guild in the US.</p>
  							</div>
  			 </header>
  			 <p>We do on a strict 3 day schedule what most guilds try to accomplish in 4 or 5. On fewer hours. We like playing games together and our core member group has been established since Vanilla. We always welcome people who adhere to our philosophy and mindset and look for exceptional players to join us in our progression pushes.</p>
  			 <footer>
  			      <ul class="actions">
  						        <li><a href="http://forums.vindicatum.com/viewtopic.php?f=5&t=661" class="button big">Apply Now</a></li>
  						</ul>
  						<ul class="stats">
  						        <li><a href="#">General</a></li>
  										<li><a href="#" class="icon fa-heart">28</a></li>
  										<li><a href="#" class="icon fa-comment">128</a></li>
  						</ul>
  			</footer>
      </article>
    </div>


		<!-- Sidebar -->

		{{member-sidebar memberData=model.memberData}}


	</div>
