<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
			{{nav-bar activeStreams=model.activeStreams}}

		<!-- Main -->
			<div id="main">
				<!-- Post -->
				{{#each model.imgurAlbum.data.images as |killshot|}}
					{{blog-posts killPost=killshot}}
				{{/each}}
			</div>

		<!-- Sidebar -->

		{{homepage-sidebar activeStreams=model.activeStreams}}


	</div>
