{{nav-bar activeStreams=model.activeStreams}}
<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->

		<!-- Main -->
			<div id="main">
				<!-- Post -->
				{{#each model.imgurAlbum.data.images as |killshot|}}
					{{blog-posts killPost=killshot}}
				{{/each}}
			</div>

		<!-- Sidebar -->

		{{homepage-sidebar guildStreamers=model.guildStreamers}}


	</div>
