<section id="sidebar">
  <!-- Intro -->
    <section id="intro">
      <a href="#" class="logo"><img src="" alt="" /></a>
      <header>
        <h2>Vindicatum</h2>
        <p>Premier Raiding Guild</p>
        <p>Icecrown • 3 Day</p>
      </header>
    </section>

  <!-- Mini Posts -->
    <section>
      <h1> Currently Streaming </h1>
      <div class="mini-posts">
        <li class="recruiting">
          {{#each activeStreams as |stream|}}
            <a href="#" class="author class">
              <img src="class-icons/{{stream.class}}.png" alt="">
              <a href="{{stream.stream.channel.url}}"> <span class="name">{{stream.playerName}}</span></a>
            </a>
          {{/each}}
        </li>
      </div>
    </section>

  <!-- About -->
    <section class="blurb">
      <h2>About</h2>
      <p>We aim to be the top sub 12 hour guild in the US when Orionid isn't Barrage pulling bosses.</p>
      <ul class="actions">
        <li><a href="/about" class="button">Learn More</a></li>
      </ul>
    </section>

  <!-- Footer -->
    <section id="footer">
      <p class="copyright">Constructed and Maintiained by:</p>
      <p class="copyright">Houndstooth & Rocklee</p>
        <br>
      <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
    </section>

</section>
{{yield}}
