<article class="post">
  <header>
    <div class="title">
      <h2>{{killPost.title}}</h2>
    </div>
  </header>
  <a href="#" class="image featured"><img src="{{killPost.link}}"  alt="" /></a>
  <p>{{killPost.description}}</p>
</article>
